   




   

      #loader_fme{

             margin: 18% -5% !important;
             width:10%;
             z-index:99999;
             position:fixed;
             height:18%;
             display:none;

      }

        @media screen and (max-width:500px){

        #loader_fme{

        margin-top:50% !important;
        min-width: 100px !important;
        margin-left: -48px !important;
        
      }
  }


/*  #compresstoleft{

    border: 5px solid white;
  }
  #compresstoright{

    border: 5px solid white;
  }*/