



   #loader_fme{
	
	 margin-left:44%;
	 margin-top:20%;
	 width:10%;
	 z-index:99999;
	 position:fixed;
	 height:18%;
	 display:none;
  }
  
      @media screen and (max-width:500px){

        #loader_fme{

        margin-top:60%  !important;
        min-width: 100px;
        margin-left:34% !important;
      }
  }
